:root {
  --font-family: "Open Sans", sans-serif;

  --color-white: #fff;
  --color-blue: #0082fb;
  --color-blue-hover: #309bff;
  --color-gray: #425561;

  --main-text: #88b0c9;

  --background: #0b1014;
  --reviews-bg: linear-gradient(
      225deg,
      rgba(12, 25, 34, 0.9) 0%,
      rgba(13, 20, 25, 0.9) 48.08%,
      rgba(12, 25, 34, 0.9) 100%
    ),
    linear-gradient(
      225deg,
      rgba(13, 20, 25, 0.9) 0%,
      rgba(12, 25, 34, 0.9) 49.52%,
      rgba(13, 20, 25, 0.9) 99.04%
    );
  --faq-bg: #0b1014;
  --faq-wrap-bg: #090d10;

  --border-r-s: 10px;
  --border-r-m: 15px;
  --border-r-l: 55px;

  --container-width: #{rem(1180)};
  --container-padding-x: #{rem(16)};
}

.light {
  --main-text: #fff;

  --background: #2d3947;
  --reviews-bg: var(--background);
  --faq-bg: var(--background);
  --faq-wrap-bg: #1b222b;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @media (min-width: 1920px) {
    font-size: calc(16px + 0.625 * (100vw - 1920px) / 100);
  }
}

body {
  color: var(--main-text);
  background: var(--background);
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}

button,
select {
  border: none;
}

img {
  user-select: none;
}

ul,
ol {
  list-style: none;
}

.regular-button {
  @include flex-center;
  border-radius: var(--border-r-s);
  background-color: var(--color-blue);
  box-shadow: 0 0 17px 0 rgba(48, 155, 255, 0.46);
  color: var(--color-white);
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;

  @include hover {
    background-color: var(--color-blue-hover);
    box-shadow: 0 0 22px 0 rgba(48, 155, 255, 0.46);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
