.title {
  margin-bottom: rem(19);
  font-weight: 600;
  font-size: rem(48);
  line-height: 110%;
  text-align: center;
  color: var(--color-white);
}

.description {
  margin-bottom: rem(40);
  font-weight: 400;
  font-size: rem(13);
  line-height: 110%;
  text-align: center;
}

.link {
  width: rem(260);
  height: rem(40);
  margin-left: auto;
  margin-right: auto;
  gap: rem(11);

  svg {
    translate: 0 2%;
  }
}
